# docker-wordpress için
/Docker/docker-wordpress/wordpress-db-data/*
/Docker/docker-wordpress/wordpress/*
/TEST/laravel_api/*
/TEST/laravel_api/vendor
# IDE ve sistem dosyaları
*.swp
*.swo
*~
.DS_Store
Thumbs.db
