# docker-wordpress için
/Docker/docker-wordpress/wordpress-db-data/*
/Docker/docker-wordpress/wordpress/*
/TEST
/ders-notu-ornekleri/laravel_api/vendor
/ders-notu-ornekleri/laravel_api_jwt/vendor
# IDE ve sistem dosyaları
*.swp
*.swo
*~
.DS_Store
Thumbs.db
